&__house {
  $p: &;

  --triangle: 100px;

  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% var(--triangle),
    50% 0%,
    100% var(--triangle)
  );
  overflow: hidden;

  @media (max-width: theme('screens.sm')) {
    --triangle: 50px;

    &.m_sm\:rootless {
      clip-path: none !important;
      #{$p}-inner {
        margin-top: 0 !important;
      }
    }
  }

  // bottom
  @mixin bottom {
    --triangle: 48px;

    @media (min-width: theme('screens.sm')) {
      --triangle: 80px;
    }

    clip-path: polygon(
      100% calc(100% - var(--triangle)),
      50% 100%,
      0% calc(100% - var(--triangle)),
      0% 25%,
      0 0%,
      100% 0
    );

    #{$p}-inner:not([class*='mb-']) {
      margin-top: 0;
      margin-bottom: var(--triangle);
    }
  }

  &.bottom {
    @include bottom;
  }

  @media (min-width: theme('screens.sm')) {
    &.sm\:bottom {
      @include bottom;
    }
  }

  @media (min-width: theme('screens.lg')) {
    &.lg\:bottom {
      @include bottom;
    }
  }

  @media (max-width: theme('screens.sm')) {
    &.m_sm\:bottom {
      @include bottom;
    }
  }

  @media (max-width: theme('screens.lg')) {
    &.m_lg\:bottom {
      @include bottom;
    }
  }

  @mixin right {
    --triangle: 80px;

    clip-path: polygon(
      0 0,
      calc(100% - var(--triangle)) 0,
      100% 50%,
      calc(100% - var(--triangle)) 100%,
      0 100%
    );

    #{$p}-inner {
      margin-top: 0;
      margin-right: var(--triangle);
    }
  }

  &.right {
    @include right;
  }

  @media (min-width: theme('screens.sm')) {
    &.sm\:right {
      @include right;
    }
  }

  @media (min-width: theme('screens.lg')) {
    &.lg\:right {
      @include right;
    }
  }

  &-root {
    --triangle: 50px;

    @media (min-width: theme('screens.sm')) {
      --triangle: 100px;
    }

    position: relative;

    &[data-label]::after {
      content: attr(data-label);
      display: flex;
      align-items: center;
      padding-left: 56px;
      width: 100%;
      background-color: var(--lighthouse);
      color: var(--covered-in-platinum);
      font-weight: 900;
      font-size: 1.25rem;

      @media (max-width: theme('screens.sm')) {
        padding: 18px 0;
        justify-content: center;
      }

      @media (min-width: theme('screens.sm')) {
        position: absolute;
        left: 100%;
        bottom: 0;
        width: 100vw;
        font-size: 2.5rem;
        height: calc(100% - var(--triangle));
      }
    }

    &[data-label].rootless::after {
      @media (min-width: theme('screens.sm')) {
        height: 100%;
      }
    }
  }

  &-inner {
    margin-top: var(--triangle);
  }

  &-banner {
    padding-left: 56px;
    position: absolute;
    left: 100%;
    bottom: 0;
    width: 100vw;
    height: calc(100% - 33%);
    background-color: var(--lighthouse);
    color: var(--covered-in-platinum);
    font-size: 2.5rem;
    font-weight: 900;
  }
}
