$base: (
  lighthouse: #f4f4f4,
  dhusar-grey: #aaaaaa,
  atmosphere: #009ddf,
  super-silver: #eeeeee,
  dugong: #707070,
  basalt-grey: #999999,
  black-out: #222222,
  quicksilver: #a7a7a7,
);

:root {
  @include generate_colors($base);
}
