.post {
  &-wrap {
    padding-top: 30px;
    margin-bottom: 50px;
  }

  &-item {
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;

    &:not(:last-child) {
      border-bottom: 1px solid var(--super-silver);
    }
  }
}

.newsroom__section {
  &-2 {
    background-color: var(--lighthouse);
    overflow-x: hidden;
  }
}

.newsroom__pin_blog {
  margin-bottom: 130px;

  .container {
    height: 520px;
  }

  &-thumbnail {
    position: relative;
    height: 100%;

    img {
      position: absolute;
      aspect-ratio: 3/2;
      width: 960px;
      right: 0;
      bottom: 0;
      max-width: 50vw;
    }
  }

  &-content {
    .card-def-title {
      font-size: 40px;
      word-break: keep-all;
      margin-bottom: 32px;
    }
  }
}

@mixin arrowHeader {
  &-header {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    gap: 26px;
    margin-bottom: 50px;

    &-title {
      font-weight: bold;
    }

    &-arrow {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
}

.newsroom__blog {
  @include arrowHeader;

  &-body {
    overflow: hidden;
  }
}

.newsroom__press {
  padding-top: 130px;
  margin-bottom: 270px;

  @include arrowHeader;

  &-body {
    @apply text-white;

    .card-def-cat-item {
      color: var(--atmosphere);
    }

    .card-def-cat-item a::after {
      content: none;
    }
  }

  &-thumbnail {
    position: absolute;
    width: 50vw;
    left: 0;
    top: 0;
    height: 100%;
    transform: translateY(100px);

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 960px;
    }

    &-wrap {
      flex: 1;
      align-self: stretch;
      position: relative;
    }
  }

  &-content {
    min-height: 550px;
    position: relative;

    > * {
      position: relative;
      z-index: 1;
    }

    .btn {
      @apply text-white;
    }
  }

  &-swiper {
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 100vw;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 0;
      position: absolute;
      background-color: var(--funnel-cloud);
    }
  }
}
