.post {
  &-wrap {
    padding-top: 30px;
    margin-bottom: 50px;
  }

  &-item {
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;

    &:not(:last-child) {
      border-bottom: 1px solid var(--super-silver);
    }
  }
}

.newsroom__pin_blog {
  margin-bottom: 130px;

  .container {
    height: 520px;
  }

  &-thumbnail {
    position: relative;
    height: 100%;

    img {
      position: absolute;
      aspect-ratio: 3/2;
      width: 960px;
      right: 0;
      bottom: 0;
      max-width: 50vw;
    }
  }

  &-content {
    .card-def-title {
      font-size: 40px;
      word-break: keep-all;
      margin-bottom: 32px;
    }
  }
}

.newsroom__blog {
  &-header {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    gap: 26px;
    margin-bottom: 50px;

    &-title {
      font-weight: bold;
    }

    &-arrow {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }

  &-body {
    overflow: hidden;
  }
}
