.post {
  &-wrap {
    padding-top: 30px;
    margin-bottom: 50px;
  }

  &-item {
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;

    &:not(:last-child) {
      border-bottom: 1px solid var(--super-silver);
    }
  }
}
