.gnb {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9000;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;

  .menu-gnb {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
