.menu {
  color: white;
  font-weight: 700;

  &-gnb {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    color: white;
    font-weight: 700;
    margin-bottom: 0;
    padding: 0;
  }
  &-search {
    text-decoration: underline;
  }
}
