article {
  padding-top: 80px;
  padding-bottom: 80px;

  header {
    padding-bottom: 50px;
    margin-bottom: 80px;
    border-bottom: 1px solid var(--super-silver);

    .entry-title {
      @apply text-black;

      font-size: 2.5rem;
      margin-bottom: 21px;
    }
  }

  .prose {
    max-width: none;
  }

  footer {
    margin-top: 100px;
  }

  iframe[src*='https://www.youtube.com/embed']
  {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
  }
}
