@at-root {
  :root {
    /* stylelint-disable */
    --absolute-margin-left: 0px;
    /* stylelint-enable */
    @media (min-width: 1439px) {
      --absolute-margin-left: 125px;
    }
  }
}

.page__layout {
  padding-top: 40px;
  padding-bottom: 80px;
  overflow-x: hidden;
  font-weight: 300;

  @media (min-width: theme('screens.sm')) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (min-width: theme('screens.lg')) {
    .container.xl\:max-w-screen-xl {
      transform: translateX(var(--absolute-margin-left));
    }
  }
}
