// 하이라이트 밑줄
.pointUnderLine {
  box-shadow: rgba(var(--bs, var(--RGB-bermudagrass)), var(--op, 0.4)) 0
    var(--h, -8px) 0 0 inset;
  display: inline-block;
}

// 페이지 굵은 밑줄
.underline.power {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: var(--uph, 3px);
}

@mixin pointUnderLine {
  box-shadow: rgba(var(--bs, var(--RGB-bermudagrass)), var(--op, 0.4)) 0
    var(--h, -8px) 0 0 inset;
  display: inline-block;
}
