&__s1 {
  position: relative;
  margin-top: 130px;
  margin-bottom: 130px;

  &-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;

    &-content {
      word-break: break-all;
      color: var(--raven-black);
    }
  }

  &-title {
    margin-bottom: 10px;
    line-height: 1.45;
  }

  &-img {
    opacity: 0;
    position: relative;
    display: block;

    img {
      width: 100%;
    }

    &:nth-child(1) {
      margin-bottom: 35px;
    }

    &:hover img:nth-child(2) {
      opacity: 1;
    }

    img:nth-child(2) {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 2;
      transition: opacity 0.3s;
    }
  }

  &-imgCol {
    &-1 {
      padding-top: 310px;
    }

    &-3 {
      padding-top: 135px;
    }
  }
}
