&__s2 {
  padding-bottom: 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 210px;
  max-width: 1920px;
  overflow: hidden;

  .tab {
    &-wrap {
      gap: 0.75em;
      margin-bottom: 16px;
      font-size: 32px;
      font-weight: 900;
      color: var(--dhusar-grey);
    }

    &-item.active {
      color: var(--black-out);
    }
  }

  .swiper-slide,
  .swiper-wrapper {
    position: unset;
  }

  .swiper-button-disabled {
    opacity: 0.5;
    cursor: normal;
  }

  .swiper-root-bg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
  }

  .card-content-swiper-bg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 75%;
    height: 100%;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        123deg,
        var(--lvivian-rain) 7%,
        rgba(0, 79, 112, 0.1)
      );
    }

    &[data-id='press']::after {
      background-image: linear-gradient(
        123deg,
        #2dbf71 7%,
        rgba(0, 79, 112, 0.1)
      );
    }
  }

  .card-content-thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: none;
  }

  .box-content {
    position: relative;
    min-height: 680px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background-color: white;
      z-index: 2;
    }

    &-inner {
      position: relative;
      z-index: 3;
    }
  }

  #postBox {
    display: none;

    &.active {
      display: block;
    }
  }

  .li__s1 {
    color: var(--basalt-grey);
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid var(--steam);
    }

    &.active,
    &:hover {
      color: var(--atmosphere);
    }
  }
}
