.home {
  @import 'hero';
  @import 'section1';
  @import 'section2';
  @import 'section3';
  @import 'section4';
  @import 'section5';

  .logoWhite {
    display: block;
  }
  .logoOrigin {
    display: none;
  }
  .header-global:hover {
    .logoOrigin {
      display: block;
    }
    .logoWhite {
      display: none;
    }
  }
  .shrink {
    .logoOrigin {
      display: block;
    }
    .logoWhite {
      display: none;
    }
  }
}
