@at-root {
  body.home {
    .header-global {
      @media (min-width: theme("screens.lg")) {
        @apply text-white;
      }
      .lang_selector {
        a {
          color: #fff;
        }
      }
      &-search {
        color: #fff;
      }
    }
  }
}

&-global {
  $p: &;

  --px: 20px;
  --background-color: transparent;

  @media (min-width: theme("screens.sm")) {
    --px: 40px;
  }

  position: fixed;
  z-index: 9000;
  top: var(--bar-wp, 0);
  left: 0;
  width: 100%;

  @mixin dark {
    #{$p}-inner {
      color: var(--black-out);

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        width: 200vw;
        height: 100%;
        transform: translateX(-50%);
        background-color: var(--background-color);
      }
    }

    #{$p}-search {
      color: var(--black-out);
    }
  }

  &.menu-open,
  &.shrink,
  &:hover {
    --background-color: #fff;
    @include dark;
  }

  &.menu-open::after {
    content: "";
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--black-out);
    opacity: 0.5;
  }

  &-logo {
    position: absolute;
    z-index: 10;
    left: var(--px);
    top: 50%;
    transform: translateY(-50%);

    @media (max-width: theme("screens.sm")) {
      left: 2rem;
    }
  }

  &-inner {
    @apply flex items-center justify-center w-full;

    padding-left: var(--px);
    padding-right: var(--px);
    height: var(--bar-global-height);
    position: relative;
    z-index: 2;
    background-color: var(--background-color);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  &-menu {
    height: 100%;

    @media (min-width: theme("screens.lg")) {
      &:hover #{$p}-subnav-wrap {
        transform: translateY(0);
      }
    }
  }

  &-nav {
    @apply flex gap-12 items-center;

    position: relative;
    z-index: 2;
    height: 100%;
  }

  // 언어선택 메뉴
  .lang_selector {
    display: flex;
    margin-right: 20px;
    a {
      font-size: 16px;
      color: var(--black-out);
    }
  }
  // 작업테스트용으로 사용
  div.only_admin.lang_selector {
    display: none;
  }

  &-search {
    position: absolute;
    z-index: 10;
    right: var(--px);
    // top: 50%;
    // transform: translateY(-50%);
    transition: color 0.2s ease-in-out;

    a {
      color: inherit;
    }
  }

  @import "submenu";
}
body.admin-bar .header-global {
  div.only_admin {
    display: flex;
  }
}
