&-flip {
  $parent: &;

  // @apply text-white;
  color: white;
  position: relative;
  height: 353px;

  @media (min-width: theme('screens.sm')) {
    height: 580px;
  }

  &:hover {
    @media (min-width: theme('screens.sm')) {
      #{$parent}-front {
        opacity: 0;
      }
      #{$parent}-back {
        opacity: 1;
      }
    }
  }

  &-front,
  &-back {
    --py: 36px;
    --px: 36px;

    z-index: 2;
    padding: var(--py) var(--px);

    @media (min-width: theme('screens.sm')) {
      --py: 48px;
      --px: 56px;
    }
    @media (min-width: theme('screens.lg')) {
      --py: 69px;
    }
  }

  &-front {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media (min-width: theme('screens.sm')) {
      height: 100%;
    }
  }

  &-back {
    padding-top: 0;
    position: relative;

    @media (min-width: theme('screens.sm')) {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#009ddf, 0.7);
      transition: opacity 0.3s;
      will-change: opacity;
      overflow-y: scroll;
      padding-top: var(--py);

      &::-webkit-scrollbar {
        width: 0;
      }
    }
  }

  &-title {
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 10px;
    line-height: 1.4;

    @media (min-width: theme('screens.sm')) {
      font-size: 2.125rem;
    }
  }

  &-content {
    line-height: 1.6;
    @media (max-width: theme('screens.sm')) {
      font-size: 12px;
      font-weight: 300;
    }
  }

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.3;
    }
  }

  &-cat {
    list-style: none;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    @media (max-width: theme('screens.sm')) {
      font-weight: bold;
      font-size: 16px;
      gap: 12px;
    }

    @media (min-width: theme('screens.sm')) {
      gap: 3.6rem;
      font-size: 1.625rem;
    }
  }

  &-area {
    height: 100%;
    overflow-y: scroll;

    @media (max-width: theme('screens.sm')) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    @media (min-width: theme('screens.sm')) {
      overflow-y: unset;
    }
  }
}
