&-archive {
  overflow: hidden;
  padding-top: var(--bar-global-height);

  @media (min-width: 1920px) {
    overflow: visible;
    margin: auto;
    max-width: 1920px;
  }

  &-imgRow {
    --outwidth: calc((100vw - 100%) / 2);

    background-color: var(--lighthouse);
    height: 500px;

    &::before {
      content: '';
      display: block;
      width: 100vw;
      top: calc(var(--bar-global-height) * -1);
      left: 50%;
      transform: translateX(-50%);
      height: calc(100% - var(--header-nav-height) + var(--bar-global-height));
      position: absolute;
      background-color: var(--lighthouse);
      z-index: -1;
    }

    &::after {
      content: '';
      display: block;
      width: calc(var(--outwidth) + 100%);
      height: 100vw;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(#000, 0.5);

      @media (min-width: 1920px) {
        max-width: calc(100% + 448px);
      }
    }
  }

  &-img {
    width: calc(var(--outwidth) + 100%);
    max-width: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    @media (min-width: 1920px) {
      max-width: calc(100% + 448px);
    }
  }

  .container {
    position: relative;
  }

  &-title {
    font-size: 4.375rem;
    font-weight: bold;
    margin-bottom: 18px;
  }

  &-content {
    @apply text-white;

    position: absolute;
    top: calc(50% - (var(--header-nav-height) / 2));
    transform: translateY(-50%);
    left: 180px;
  }

  &-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--lighthouse);
  }
}
