&-global {
  @apply text-white;

  position: fixed;
  top: var(--barHeight, 0);
  left: 0;
  width: 100vw;
  padding-left: 40px;
  padding-right: 40px;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 184px;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    );
  }

  &-logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &-inner {
    @apply flex items-center justify-center w-full;

    height: 100px;
    position: relative;
    z-index: 2;
  }

  &-nav {
    @apply flex gap-12;
  }

  &-search {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: underline;
  }
}
