&__attached {
  &-item {
    border-bottom: 1px solid var(--super-silver);
    display: flex;
    justify-content: space-between;
    gap: 16px;

    &:first-child {
      border-top: 1px solid var(--super-silver);
    }
  }

  &-link {
    text-decoration: underline;
    font-weight: 300;
  }
}
