&-fixed {
  position: fixed;
  z-index: 900;
  top: 270px;
  left: 50%;
  transform: translateX(
    calc(-50% + (var(--container-width) / 2 * -1) + var(--container-px))
  );

  @media (min-width: theme('screens.2xl')) {
    /* stylelint-disable */
    transform: translateX(
      calc(
        -50% + (var(--container-width) / 2 * -1) + var(--absolute-margin-left) +
          var(--container-px)
      )
    );
    /* stylelint-enable */
  }

  @media (min-width: 1700px) {
    /* stylelint-disable */
    transform: translateX(
      calc(
        -50% + (var(--container-width) / 2 * -1) + var(--absolute-margin-left) +
          var(--container-px) - 200px
      )
    );
    /* stylelint-enable */
  }

  &-wrap {
    width: calc(400px - var(--absolute-margin-left));
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 2.125rem;

    .current {
      color: var(--black-out);
    }
  }

  &-item {
    color: var(--quicksilver);
    font-weight: bold;
  }

  &-child {
    margin-top: 20px;
    font-size: 1.375rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
