&-fixed {
  position: fixed;
  top: 270px;
  left: 50%;
  transform: translate(calc(-100% + -512px));

  &-wrap {
    padding-right: 270px;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
  }

  &-item {
    font-size: 2.125rem;
    color: var(--quicksilver);
    font-weight: bold;

    &.current {
      color: var(--black-out);
    }
  }
}
